body{
	margin: 0;
	padding: 0;
}

.container-titulo{
	background-color: #23272F;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
	color: white;
}

.kitty-image{
	margin-left: 20px;
}

h2 {
	font-size: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

h3 {
	font-size: 15px;
  color: rgb(147, 188, 85);
}

p {
  color: rgb(252, 89, 252);
}
 